@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1B1B1B;
  --primary-color:#1B1B1B
}

@theme inline {
  --color-background: var(--primary-color);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;
}
.primary-color {
  color: var(--primary-color);
}
h1{
    @apply text-[var(--primary-color)] font-bold text-[72px] leading-[120%]
}
h2{
  @apply text-[var(--primary-color)] font-bold text-[52px] leading-[120%]
}